#!/usr/bin/env bash

source activate {{jupyter_supervisord_name}}

{% for env_file in jupyter_supervisord_env_files|default([]) %}
source {{env_file}}
{% endfor %}

if [[ -z "${JUPYTER_SUPERVISORD_EXECUTE_NB}"]]; then
	jupyter notebook \
		--Session.username={{jupyter_supervisord_username}} \
		{{jupyter_supervisord_eff_config_file}} \
		{{jupyter_supervisord_eff_notebook_dir}}
else
	jupyter nbconvert ${JUPYTER_SUPERVISORD_NBCONVERT_OPTIONS} \
		--execute ${JUPYTER_SUPERVISORD_EXECUTE_NB}
fi
