#!/usr/bin/env bash

source activate {{jupyter_supervisord_name}}

{% for env_file in jupyter_supervisord_env_files|default([]) %}
source {{env_file}}
{% endfor %}

if {{jupyter_supervisord_run_nbconvert_condition}}; then
	jupyter nbconvert \
		{{jupyter_supervisord_nbconvert_cli_options|default("")}} \
		{{jupyter_supervisord_nbconvert_nb|default("")}}
else
	jupyter notebook \
		{{jupyter_supervisord_eff_config_file}} \
		{{jupyter_supervisord_eff_notebook_dir}} \
		{{jupyter_supervisord_addl_cli_options|default("")}}

fi
